---
import ExperienceItem from "./ExperienceItem.astro";
import { experience_EN } from '../utils/experience'
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    experience_EN.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
