---
import GitHubIcon from "./icons/GitHub.astro";
import type { GitHubReponse } from "../utils/types";

type Props = {
  repoInfo: GitHubReponse & { techStack: ((_props: Record<string, any>) => any)[] | undefined }
};

const {
  repoInfo: { name: repoName, html_url: repoUrl, description, techStack}
} = Astro.props;

---

<article
  class="carousel-item border border-sky-400 rounded-lg m-2 py-5 mb-5 max-w-[300px]
    flex flex-col sm:max-w-sm md:max-w-lg hover:shadow-xl hover:shadow-red-100 hover:cursor-pointer">
  <div class="flex flex-row items-center justify-start gap-x-2 px-3">
    <GitHubIcon class="size-6 "/>
    <h3 class="text-lg my-2 font-semibold text-gray-500 dark:text-yellow-200">
      <a href={repoUrl}>{repoName}</a>
    </h3>
  </div>
  <p class="text-md font-mono font-light m-2 text-pretty w-60">{description}</p>
  <div class="flex items-center gap-x-4 mx-2">
    {techStack && techStack.length > 0 && <h3>Tech stack: </h3>}
    {techStack && (
      <>
        {techStack.map(Item => (
          <Item class="size-4" />
        ))}
      </>
    )}
  </div>
</article>
