---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Download my cv" description="Hey - here is my cv">
  <div class="w-full h-full">
    <iframe
      class="h-[100vh] w-full"
      src="https://drive.google.com/file/d/1aVCKK4boOa8pm5O1CjJCiG0NB9Rmtriw/preview"
      allow="autoplay"
    >
    </iframe>
  </div>
</Layout>
